body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  width: 60px;
  height: 60px;
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
}

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f6f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 60px;
}

.inner-page .main-header {
  margin-bottom: 22px;
}

.header-wrapper {
  width: 100%;

  background-color: #32425c;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  color: #ffffff;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 42px;
}

.main-header-logo {
  width: 220px;
  height: 42px;
}

.main-header-logo .logo-technomart {
  padding: 13px 55px;
  padding-bottom: 17px;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.logo-technomart:hover,
.logo-technomart:focus {
  background-color: #ca2c37;
}

.logo-technomart:active {
  background-color: #ba2732;
}

.search {
  position: relative;
  width: 270px;
}

.search-label {
  position: absolute;
  opacity: 0.3;
  top: 12px;
  left: 17px;
  z-index: 2;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.search input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 0 12px 49px;
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.search input::-webkit-input-placeholder {
  color: #ffffff;
}

.search input:-ms-input-placeholder {
  color: #ffffff;
}

.search input::-ms-input-placeholder {
  color: #ffffff;
}

.search input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search input::placeholder {
  color: #ffffff;
}

.search input:hover {
  color: #ffffff;
  background-color: #293449;
}

.search input:hover+label {
  opacity: 1;
}

.search input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search input:focus+label {
  background-image: url(../img/icon-search-red.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

a.bookmark {
  position: relative;
  padding: 12px;
  padding-left: 44px;
  color: #ffffff;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

a.bookmark::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 16px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

a.cart {
  position: relative;
  padding: 12px;
  padding-left: 49px;
  color: #ffffff;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

a.cart::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 16px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

a.full-bookmark,
a.full-cart {
  background: #ee3643;
}

a.bookmark:hover,
a.bookmark:focus,
a.cart:hover,
a.cart:focus {
  color: #ffffff;
  background-color: #293449;
}

a.bookmark:active,
a.cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #1d2739;
}

a.bookmark:hover::before,
a.bookmark:focus::before,
a.cart:hover::before,
a.cart:focus::before {
  opacity: 1;
}

a.bookmark:active::before,
a.cart:active::before {
  opacity: 0.5;
}

.to-order {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
  padding: 12px;
  text-transform: none;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.to-order:hover,
.to-order:focus {
  color: #ffffff;
  background-color: #5fbb2d;
}

.to-order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-middle h1 {
  display: block;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  color: #ee3643;
  width: 199px;
  margin: 48px 50px 40px 52px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 264px;
  margin: 46px 50px 4px 21px;
}

.header-contacts a {
  display: block;
  position: relative;
  padding: 10px 41px 10px 69px;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  border: 3px solid #ffffff;
}

.header-contacts a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
}

.header-contacts span {
  font-size: 14px;
  line-height: 24px;
  margin-top: 3px;
  text-align: center;
  color: #32425c;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 300px;
  margin-top: 45px;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

a.login-link {
  position: relative;
  margin-right: 10px;
  padding: 12px 26px 14px 46px;
}

.icon-login {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
}

a.user-account-button {
  position: relative;
  padding: 12px 27px 14px 46px;
}

.user-account {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 18px;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
}

a.user-logout-button {
  position: relative;
  padding: 12px 10px 14px 10px;
}

.user-logout {
  position: absolute;
  top: 16px;
  left: 0;
  width: 21px;
  height: 17px;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
}

.user-icon:hover path,
.user-icon:focus path {
  fill: #32425c;
}

.user-icon:active path {
  fill: #c5c5c5;
}

a.register-link {
  padding: 12px 25px 14px 23px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

a.user-account-button:hover,
a.user-logout-button:hover,
a.user-account-button:focus,
a.user-logout-button:focus {
  color: #000000;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.user-order,
a.user-lk {
  margin-top: 6px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #32425c;
  text-decoration: underline;
  background-color: transparent;
}

a.user-order {
  position: relative;
  padding-left: 11px;
  padding-right: 15px;
}

a.user-order::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

a.user-lk {
  padding-left: 15px;
  padding-right: 70px;
}

a.user-order:hover,
a.user-lk:hover,
a.user-order:focus,
a.user-lk:focus {
  color: #ee3643;
}

a.user-order:active,
a.user-lk:active {
  color: rgba(50, 66, 92, 0.3);
}

nav.container {
  padding-bottom: 62px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #32425c;
  -webkit-box-shadow: 0 5px #293449;
  box-shadow: 0 5px #293449;
}

.main-navigation a {
  display: block;
  color: #ffffff;
  padding: 20px 31px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #ffffff;
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #1d2739;
}

.promo-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.category-material {
  position: relative;
  background-color: #ffbf47;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}

.category-material::after {
  content: "";
  position: absolute;
  top: 31px;
  left: 213px;
  background-image: url(../img/promo-1.svg);
  background-repeat: no-repeat;
  width: 44px;
  height: 65px;
}

.category-tool {
  position: relative;
  background-color: #3bbce3;
  width: 300px;
  min-height: 123px;
  margin: 0 20px 20px 20px;
}

.category-tool::after {
  content: "";
  position: absolute;
  top: 33px;
  left: 197px;
  background-image: url(../img/promo-2.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 61px;
}

.category-mechanism {
  position: relative;
  background-color: #dc91d8;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}

.category-mechanism::after {
  content: "";
  position: absolute;
  top: 31px;
  left: 191px;
  background-image: url(../img/promo-3.svg);
  background-repeat: no-repeat;
  width: 78px;
  height: 62px;
}

.category-wrap {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.category-special {
  position: relative;
  background-color: #8ed78f;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}

.category-special::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 196px;
  background-image: url(../img/promo-4.svg);
  background-repeat: no-repeat;
  width: 59px;
  height: 72px;
}

.category-delivery {
  position: relative;
  background-color: #ffbf47;
  width: 300px;
  min-height: 123px;
}

.category-delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 191px;
  background-image: url(../img/promo-5.svg);
  background-repeat: no-repeat;
  width: 78px;
  height: 63px;
}

span.category-title {
  position: absolute;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  top: 21px;
  left: 23px;
}

.category-btn {
  position: absolute;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 135px;
  padding: 10px 0;
  top: 64px;
  left: 24px;
}

.category-btn:hover,
.category-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-slider {
  position: relative;
  background-color: #000000;
  width: 620px;
  min-height: 266px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-item {
  display: none;
}

#product-1:checked~.slider-list #slider-1 {
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
  background-size: 620px 266px;
}

#product-2:checked~.slider-list #slider-2 {
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat;
  background-size: 620px 266px;
}

#product-1:checked~.slider-list #slider-1,
#product-2:checked~.slider-list #slider-2 {
  display: block;
}



.promo-slider h4 {
  position: absolute;
  top: 24px;
  left: 25px;
  max-width: 220px;
  margin: 0;
  margin-bottom: 5px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-slider p {
  position: absolute;
  top: 64px;
  left: 25px;
  max-width: 400px;
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.promo-slider a {
  position: absolute;
  bottom: 22px;
  left: 25px;
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  width: 195px;
  padding: 10px 0;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 293px;
  z-index: 3;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  vertical-align: top;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.slider-controls label[for="product-1"],
#product-2:checked~.slider-controls label[for="product-2"] {
  background-color: #ee3643;
}

.arrow-left::after,
.arrow-right::after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-arrow.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.arrow-left::after {
  top: 115px;
  left: 23px;
  z-index: 4;
}

.arrow-right::after {
  top: 115px;
  right: 23px;
  z-index: 4;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.popular-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

h2.popular {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: #32425c;
  margin: 30px 0 29px 28px;
}

a.popular {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 0;
  margin: 25px 24px 26px 0;
  min-width: 253px;
  background-color: #ee3643;
  border-radius: 3px;
}

.popular-product,
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-item-image img {
  width: 218px;
  height: 170px;
}

.popular-product-item,
.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 218px;
  min-height: 316px;
  margin-right: 20px;
  margin-bottom: 21px;
  border: 1px solid #eaeaea;
  text-align: center;
  vertical-align: middle;
}

.popular-product-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-title {
  font-family: "PT Sans", "Arial", sans-serif;
  display: block;
  padding: 0 24px 10px 25px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.popular-product-item .actions,
.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 44px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5;
}

.actions .buy,
.actions .to-bookmark {
  position: relative;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .buy::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 15px;
  height: 15px;
  z-index: 6;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.actions .buy:hover,
.actions .buy:focus {
  background-color: #57bb2d;
  border: 3px solid #57bb2d;
  border-bottom-color: #367315;
}

.actions .buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.actions .buy:hover::before,
.actions .buy:focus::before,
.actions .buy:active::before {
  opacity: 1;
}

.actions .to-bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.actions .to-bookmark:hover,
.actions .to-bookmark:focus {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.actions .to-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  background-color: #ffffff;
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.popular-product-item:hover,
.catalog-item:hover,
.popular-product-item:focus,
.catalog-item:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-product-item .actions,
.catalog-item .actions {
  display: none;
}

.popular-product-item:hover .actions,
.catalog-item:hover .actions {
  display: block;
}

.price-older {
  min-height: 20px;
  margin-bottom: 8px;
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: center;
  color: #a9a9a9;
}

.price {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;
  background-color: #ee3643;
  position: relative;
  width: 80px;
  margin: 0 10px 20px 43px;
  padding: 10px 14px 10px 29px;
  border-radius: 3px;
}

.price:after {
  content: "";
  position: absolute;
  top: 1px;
  right: -36px;
  width: 1px;
  height: 0;
  border: 18px solid #ffffff;
  border-left-color: #ee3643;
}

.catalog-item-title+.price {
  margin-top: 28px;
}

.popular-brand {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

li.brand {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

li.brand:nth-child(4n) {
  margin-right: 0;
}

.brand a {
  width: 218px;
  height: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.brand a:hover,
.brand a:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand a:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  margin-top: 65px;
  margin-bottom: 55px;
  background-color: #f2f6f8;
}

.service h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  padding: 41px 20px 0 0;
}

.service p {
  width: 400px;
  color: #000000;
  margin-bottom: 67px;
}

.service-wrap {
  position: relative;
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.service-slider {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 240px;
}

ul.service-slider::after {
  content: "";
  position: absolute;
  z-index: 7;
  top: -45px;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
}

.service-slider li {
  display: block;
  padding: 13px 0 16px 22px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  list-style: none;
  color: #ffffff;
  background-color: #32425c;
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service li:hover,
.service li:focus {
  color: #ffffff;
  background-color: #293449;
}

.service li:active,
li.active-service {
  color: #32425c;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.service-slide {
  display: none;
  width: 620px;
  padding-left: 80px;
  padding-bottom: 124px;
  overflow: hidden;
}

.service-slide p {
  max-width: 375px;
}

.service-slide:nth-child(1) {
  display: block;
}

.service-slide:nth-child(1) {
  background-image: url(../img/delivery-car.png);
  background-repeat: no-repeat;
  background-position: 231px 26px;
  background-size: 468px 261px;

}

.service-slide:nth-child(2) {
  background-image: url(../img/warranty.png);
  background-position: 320px 1px;
  background-repeat: no-repeat;
  background-size: 389px 283px;
}

.service-slide:nth-child(3) {
  background-image: url(../img/credit.png);
  background-position: 231px 3px;
  background-repeat: no-repeat;
  background-size: 465px 285px;
}

.service-slide h4 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
}

.service-slide p {
  margin: 0;
}

.credit a {
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  margin-top: 28px;
  width: 195px;
  padding: 10px 0;
  border-radius: 3px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 85px;
}

.left-block {
  width: 535px;
}

.information h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.left-block p {
  text-align: left;
  color: #000000;
  margin-bottom: 23px;
}

.left-block ul {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  list-style: none;
}

.left-block li {
  position: relative;
  padding-bottom: 20px;
  padding-left: 35px;
}

.left-block li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  display: block;
  width: 25px;
  height: 2px;
  background: #ee3643;
}

.left-block a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  width: 220px;
  padding: 10px 0;
  border-radius: 3px;
  background-color: #ee3643;
}

.right-block {
  width: 300px;
}

.right-block p {
  width: 180px;
  padding-bottom: 20px;
}

.right-block .btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  padding: 11px 0;
  width: 300px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: #ee3643;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.breadcrumbs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 5px;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
}

a.breadcrumbs-item {
  font-family: "PT Sans", "Arial", sans-serif;
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  padding: 0 30px 0 12px;
}

a.home-page::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -1px;
  width: 15px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
}

h2.breadcrumbs-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  padding: 30px;
  margin: 20px 0;
  background-color: #f2f6f8;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 220px;
  min-height: 1202px;
  margin-right: 20px;
  font-size: 0;
  line-height: 0;
}

.filter h3 {
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 20px;
  margin: 0;
  border-radius: 5px;
  background-color: #f3f3ec;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  padding: 12px 0;
  margin: 0;
}

.filters-item {
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  background-color: #f3f3ec;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 83%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  font-size: 16px;
  margin-bottom: 26px;
}

.price-controls input {
  width: 85px;
  padding: 8px 2px 10px 8px;
  border: none;
  border-radius: 4px;
  background: #f3f3ec;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 18px;
}

label.max-price {
  padding-left: 7px;
}

.line {
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
}

.catalog-columns fieldset {
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  margin: 0;
  border: none;
  line-height: 20px;
  padding: 0;
  text-transform: uppercase;
}

.brands-filter ul,
.power-type ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-filter li {
  position: relative;
  margin-bottom: 21px;
  padding-left: 35px;
}

.check-input {
  position: absolute;
}

.check-box {
  cursor: pointer;
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.check-input:hover+.check-box,
.check-input:focus+.check-box,
.check-input:active+.check-box {
  background-image: url(../img/checkbox-off-focus.svg);
}

.check-input:checked+.check-box {
  background-image: url(../img/checkbox-on.svg);
}

.check-input:checked:hover+.check-box,
.check-input:checked:focus+.check-box,
.check-input:checked:active+.check-box {
  background-image: url(../img/checkbox-on-focus.svg);
}

.check-input:disabled+.check-box {
  background-image: url(../img/checkbox-off-focus.svg);
  opacity: 0.3;
}

.check-input:checked:disabled+.check-box {
  background-image: url(../img/checkbox-on-focus.svg);
  opacity: 0.3;
}

.power-type li {
  position: relative;
  margin-bottom: 21px;
  padding-left: 34px;
}

.radio-input {
  position: absolute;
}

.radio {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.radio-input:hover+.radio,
.radio-input:focus+.radio {
  background-image: url(../img/radio-off-focus.svg);
}

.radio-input:checked+.radio {
  background-image: url(../img/radio-on.svg);
}

.radio-input:checked:hover+.radio,
.radio-input:checked:focus+.radio {
  background-image: url(../img/radio-on-focus.svg);
}

.radio-input:disabled+.radio {
  background-image: url(../img/radio-off-focus.svg);
  opacity: 0.3;
}

.radio-input:checked:disabled+.radio {
  background-image: url(../img/radio-on-focus.svg);
  opacity: 0.3;
}

button.filter {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  padding: 11px 38px 8px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 56px;
  margin-bottom: 20px;
}

.catalog {
  width: 700px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 9px 18px;
  background: #f7f3ec;
  border-radius: 3px;
}

.sorting span,
.sorting ul {
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.sorting ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  -webkit-text-decoration-color: #ee3643;
  text-decoration-color: #ee3643;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
}

.sort-price {
  padding-right: 70px;
}

.sort-type {
  padding-right: 65px;
}

.sort-function {
  padding-right: 46px;
}

.sorting a:hover,
.sorting a:focus {
  color: #000000;
  text-decoration: underline;
  -webkit-text-decoration-color: #ee3643;
  text-decoration-color: #ee3643;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}

.sorting a:active,
a.active {
  color: #ee3643;
  text-decoration: none;
}

a.sort-up {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: none;
}

a.sort-down {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: none;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.sort-btn:hover path,
.sort-btn:focus path {
  fill: #231f20;
}

.sort-btn:active path,
.active-btn path {
  fill: #ee3643;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.pagination-list li {
  min-width: 36px;
  margin-top: 9px;
  margin-right: 9px;
}

.pagination-list li:last-of-type {
  min-width: 138px;
}

.pagination-item a {
  display: block;
  padding: 8px 14px 10px 16px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.other-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f6f8;
}

.other-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 67px 0 69px;
}

.other-info h2 {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.other-info p {
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-feedback {
  border-top: 7px solid #ee3643;
  top: 5%;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  z-index: 100;
}

.feedback-form .feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 37px 80px 0 80px;
}

.feedback-wrap p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  width: 220px;
}

.feedback-wrap input[type="text"],
.feedback-wrap input[type="email"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 216px;
  padding: 10px 15px;
  margin-top: 9px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  border-radius: 3px;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.feedback-wrap textarea {
  margin-top: 9px;
  border-radius: 3px;
  margin-bottom: 24px;
  padding: 5px 0 0 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #d7dcde;
}

.feedback-wrap input[type="text"]:hover,
.feedback-wrap input[type="email"]:hover,
.feedback-wrap textarea:hover {
  border: 2px solid #b5b5b5;
}

.feedback-wrap input[type="text"]:focus,
.feedback-wrap input[type="email"]:focus,
.feedback-wrap textarea:focus {
  border: 2px solid #ee3643;
}

.modal-btn-wrap {
  background-color: #f4f4f4;
  padding: 37px 80px;
}

.feedback-btn {
  width: 460px;
  display: block;
  padding: 10px 0;
  text-align: center;
  border-radius: 3px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 9px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  top: 8px;
  right: 0;
  position: absolute;
  width: 21px;
  height: 5px;
  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-map {
  z-index: 14;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-left: -470px;
  margin-top: -226px;
}

.modal-cart {
  border-top: 7px solid #ee3643;
  top: 50%;
  left: 50%;
  z-index: 16;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 620px;
  margin-left: -310px;
  margin-top: -226px;
}

.modal-cart h2 {
  position: relative;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  padding: 75px 124px 67px 178px;
  margin: 0;
}

.modal-cart h2::before {
  position: absolute;
  content: "";
  top: 55px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon-mark.svg);
  background-repeat: no-repeat;
}

.modal-btn-wrap .cart-btn,
.modal-btn-wrap .back-btn {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  padding: 10px 0;
  border-radius: 3px;
}

.modal-btn-wrap .back-btn {
  background-color: #ffffff;
  color: #000000;
  margin-left: 16px;
}

.modal {
  display: none;
}

.main-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
  background-color: #32425c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: transparent;
}

.left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 380px;
}

.footer-logo {
  width: 220px;
  height: 65px;
}

.footer-logo .logo-technomart {
  padding: 21px 42px;
  padding-bottom: 26px;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.logo-technomart:hover,
.logo-technomart:focus {
  background-color: #ca2c37;
}

.logo-technomart:active {
  background-color: #ba2732;
}

.left-column p {
  padding: 11px 40px 0 3px;
}

.right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 550px;
}

.site-navigation,
.catalog-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-navigation li {
  padding-top: 39px;
}

.site-navigation a {
  color: #f3f7f9;
  background-color: #32425c;
}

.catalog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.catalog-navigation li {
  padding-top: 34px;
  padding-left: 60px;
}

.catalog-navigation a {
  color: #ffda96;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus,
.catalog-navigation a:hover,
.catalog-navigation a:focus {
  text-decoration: underline;
}

.site-navigation a:active {
  text-decoration: none;
  color: rgba(243, 247, 249, 0.5);
  background-color: #32425c;
}

.catalog-navigation a:active {
  text-decoration: none;
  color: rgba(255, 218, 150, 0.5);
  background-color: #32425c;
}

.footer-bottom-wrapper {
  width: 100%;
  background-color: #293449;
  padding-bottom: 30px;
}

.footer-bottom {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
}

p.copyright {
  margin-top: 35px;
  margin-right: 45px;
  width: 235px;
}

.footer-social {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-social li {
  margin-left: 2px;
  margin-top: 35px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #1d2739;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.footer-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 310px;
}

.footer-contacts {
  padding-left: 12px;
}

.footer-copyright {
  padding-left: 52px;
}

.footer-contacts a,
.footer-copyright a {
  color: #ffda96;
}

.footer-contacts a:hover,
.footer-copyright a:hover,
.footer-contacts a:focus,
.footer-copyright a:focus {
  text-decoration: underline;
}

.footer-contacts a:active,
.footer-copyright a:active {
  text-decoration: none;
  color: #ee3643;
}