body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-transform: none;

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

button {
  font: inherit;

  text-align: center;
  color: rgb(255, 255, 255);
  vertical-align: middle;

  background-color: rgb(0, 0, 0);
  border: none;
}

.logo-technomart {
  background-color: rgb(238, 54, 67);
}

.logo-technomart:hover,
.logo-technomart:focus {
    background-color: rgb(202, 44, 55);
}

.logo-technomart:active {
    background-color: rgb(186, 39, 50);
}

header {
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(0, 0, 0);

  background-color: rgb(241, 245, 247);
}

.header-top {
  line-height: 18px;
  color: rgb(255, 255, 255);

  background-color: rgb(50, 66, 92);
}

.header-top input {
  font: inherit;

  background-color: transparent;
  border: none;
}

.header-top input:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(41, 52, 73);
}

.header-top input:focus {
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.header-top a {
  color: rgb(255, 255, 255);

  background-color: rgb(50, 66, 92);
}

.bookmark:hover,
.bookmark:focus,
.cart:hover,
.cart:focus {
  color: rgba(255, 255, 255, 1);

  background-color: rgb(41, 52, 73);
}

.bookmark:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: rgb(33, 42, 58);
}

.to-order {
  color: rgb(255, 255, 255);

  background-color: rgb(99, 166, 62);
}

.to-order:hover,
.to-order:focus {
  color: rgb(255, 255, 255);

  background-color: rgb(95, 187, 45);
}

.to-order:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: rgb(81, 1337, 52);
}

.header-middle h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  color: rgb(238, 54, 67);
}

.header-contacts {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgb(50, 66, 92);
}

.header-contacts a {
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: rgb(238, 54, 67);

  border: 3px solid rgb(255, 255, 255);
}

.main-site-navigation,
.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: rgb(238, 54, 67);
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: rgb(255, 255, 255);

  background-color: rgb(50, 66, 92);
}

.main-site-navigation a {
  color: rgb(255, 255, 255);

  background-color: rgb(50, 66, 92);
}

.main-site-navigation a:hover,
.main-site-navigation a:focus {
  color: rgba(255, 255, 255, 1);

  background-color: rgb(41, 52, 73);
}

.main-site-navigation a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: rgb(33, 42, 58);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal {
  display: none;
}

/* категории товаров, слайды, популярные товары и бренды */


.information h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  color: rgb(0, 0, 0);
}

.information p {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.information ul {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.left-block a {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  background-color: rgb(238, 54, 67);
}

.right-block button {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  background-color: rgb(238, 54, 67);
}

footer {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: rgb(243, 247, 249);

  background-color: rgb(50, 66, 92);
}

.site-navigation,
.catalog-navigation {
  list-style: none;
}

.site-navigation a {
  color: rgb(243, 247, 249);

  background-color: rgb(50, 66, 92);
}

.catalog-navigation a {
  color: rgb(255, 209, 128);

  background-color: rgb(50, 66, 92);
}

.site-navigation a:hover,
.site-navigation a:focus,
.catalog-navigation a:hover,
.catalog-navigation a:focus {
  text-decoration: underline;
}

.site-navigation a:active {
  text-decoration: none;
  color: rgba(243, 247, 249, 0.5);

  background-color: rgb(50, 66, 92);
}

.catalog-navigation a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);

  background-color: rgb(50, 66, 92);
}

.footer-bottom {
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: rgb(255, 255, 255);

  background-color: rgb(41, 52, 73);
}

/* иконки соц.сетей */

.footer-contacts a,
.footer-copyright a {
  color: rgb(255, 209, 128);

  background-color: rgb(41, 52, 73);
}

.footer-contacts a:hover,
.footer-copyright a:hover,
.footer-contacts a:focus,
.footer-copyright a:focus {
  text-decoration: underline;
}

.footer-contacts a:active,
.footer-copyright a:active {
  text-decoration: none;
  color: rgb(238, 54, 67);

  background-color: rgb(41, 52, 73);
}
